---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import PostCard from "../components/PostCard.astro";
import TagBadge from "../components/TagBadge.astro";
import { readingTime } from "../utils/readingTime";
import chalk from 'chalk';

let posts = await getCollection("posts");

const tags: string[] = [];
posts.forEach((post) => {
  post.data.tags.forEach((tag) => {
    if (!tags.includes(tag)) tags.push(tag);
  });
});

posts = posts
  .sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf())
  .slice(0, 4);

const COLOR_PALETTE = [
  'bg-red-100 text-red-800',
  'bg-blue-100 text-blue-800',
  'bg-green-100 text-green-800',
  'bg-purple-100 text-purple-800',
  'bg-pink-100 text-pink-800'
];
---

<Layout title="Homepage">
  <h1>Homepage</h1>
  <p class="my-4">Blog posts:</p>
  <ul>
    {posts.map((post) => (
      <PostCard
        title={post.data.title}
        date={post.data.date}
        slug={post.id}
        readingTime={readingTime(post.body ?? "")}
      />
    ))}
  </ul>

  <p class="py-4">
    <a class="underline" href="/blog/page/1">See all posts ▶︎</a>
  </p>

  <p class="my-4">Explore by tag:</p>
  <div class="my-4 gap-x-2 gap-y-4 flex flex-wrap">
    {tags.map((tag, index) => (
      <TagBadge tag={tag} colorClass={COLOR_PALETTE[index % COLOR_PALETTE.length]}  />
    ))}
  </div>
</Layout>
