---
import "../styles/global.css";
const url = new URL(Astro.request.url).pathname;
import "../main.ts";

import { ClientRouter } from "astro:transitions";
const { frontmatter, title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content={frontmatter?.description
        ? frontmatter.description
        : "My awesome blog"}
    />
    <meta property="og:image" content={`https://mywebsite.com/my-image.png`} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="My cool blog"
      href="/rss.xml"
    />
    <title>{title}</title>

    <style is:global>
      h1 {
        font-size: 1.5rem;
        font-weight: bold;
      }
      .svg-container {
        max-width: 200px;
        margin: auto;
      }
      .svg-circle:hover + .svg-text-group {
        opacity: 0;
      }
    </style>

    <ClientRouter />
  </head>
  <body class="p-5">
    <div class="py-8">
      <header id="home">
        <nav class="nav" id="navigation">
          <div class="nav-center" id="nav">
            <div class="nav-header">
              <img src="/my_logo.svg" alt="logo" class="logo" />

              <button class="nav-toggle">
                <i class="fas fa-bars"></i>
              </button>
            </div>

            <div class="links-container">
              <ul class="nav-links">
                <li>
                  <a
                    href="/"
                    class={url === "/"
                      ? "font-bold text-gray-800 hover:text-gray-600"
                      : "font-medium text-gray-500 hover:text-gray-900 scroll-link"}
                    >Home</a
                  >
                </li>
                <li>
                  <a
                    href="/pricing"
                    class={url === "/pricing"
                      ? "font-bold text-gray-800 hover:text-gray-600"
                      : "font-medium text-gray-500 hover:text-gray-900 scroll-link"}
                    >Pricing</a
                  >
                </li>
                <li>
                  <a
                    href="/blog/page/1"
                    class={url === "/blog/page/1"
                      ? "font-bold text-gray-800 hover:text-gray-600"
                      : "font-medium text-gray-500 hover:text-gray-900 scroll-link"}
                    >Blog</a
                  >
                </li>
                <li>
                  <a
                    href="/login"
                    class={url === "/login"
                      ? "font-bold text-gray-800 hover:text-gray-600"
                      : "font-medium text-gray-500 hover:text-gray-900 scroll-link"}
                    >Login</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      {
        frontmatter?.title && (
          <h1 class="mt-10 text-center text-3xl mb-10 font-extrabold tracking-tight text-gray-900">
            {frontmatter.title}
          </h1>
        )
      }

      <div class="mt-20 mx-auto text-center max-w-3xl px-10">
        <slot />
      </div>

      <footer class="mt-20 pt-12 border-t-2 border-gray-300">
        <nav class="flex justify-center pb-10 space-x-10">
          <a href="/" class="font-medium text-gray-500 hover:text-gray-900"
            >Home</a
          >
          <a
            href="/pricing"
            class="font-medium text-gray-500 hover:text-gray-900">Pricing</a
          >
          <a href="/blog" class="font-medium text-gray-500 hover:text-gray-900"
            >Blog</a
          >
        </nav>
        <p class="text-center text-gray-400">
          &copy; 2025 Great Tool. All rights reserved.
        </p>
      </footer>
    </div>
    <script src="/src/main.ts"></script>
  </body>
</html>
